

@import  url("bootstrap.css");



.container{
    
    padding: 44px;
    margin: 10px;
}


.col-sm-10{
    margin-top: 30px;
}

.btn{
    color:wheat;
    background-color: brown;

}
body{
    background-image: url("https://ak8.picdn.net/shutterstock/videos/7347568/thumb/1.jpg")
}
.col-md-4{
    margin: 10px;
}
.btn{
    margin: 10px;
}

.display-4{
    font-weight: 200px;
}